/* Desktop */
dt.st-bbs_reshead > span.abone-button {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #1e7dc0;
    text-decoration: none;
}

/* Mobile */
ul.sw-Article_List > li > .at-List_Date > span.abone-button {
    margin-left: 8px;
    font-size: 10px;
    color: #1e7dc0;
    text-decoration: none;
}
